.hello{
    background: white;

    .child{
        color: blue;
    }
    color: black;
}

.list .list-item{
    input[type="text"]{
        background-image: url('images/background.png');
    }

    display: flex;

    &.selected{
        text-decoration: none;
    }
}

.another-list   .another-list-item{
    margin: 1px 0 100px 20%;

    a:hover{
        font-weight: bold;
    }
}